HEIGHT=15
WIDTH=40
CHOICE_HEIGHT=4
BACKTITLE="controle with up down keys"
TITLE="select server"
MENU="Choose one of the following options:"

OPTIONS=(1 "xashds"
         2 "hlds"
         3 "exit")

CHOICE=$(dialog --clear \
                --backtitle "$BACKTITLE" \
                --title "$TITLE" \
                --menu "$MENU" \
                $HEIGHT $WIDTH $CHOICE_HEIGHT \
                "${OPTIONS[@]}" \
                2>&1 >/dev/tty)

clear
case $CHOICE in
        1)
            cd && cd /home/xash && rm filesystem_stdio.so && wget https://github.com/FWGS/xash3d-fwgs/releases/download/continuous-vbo-fix/xashds-linux-i386.tar.gz && tar -zxf xashds-linux-i386.tar.gz && cd xashds-linux-i386 && cp -rf * /home/xash && cd .. && rm xashds-linux-i386.tar.gz && rm -rf xashds-linux-i386 && chmod +x * && cd && cd /home/xash && cd && cd /home/xash/cstrike && rm liblist.gam && rm -rf addons && cd .. && wget https://github.com/happyhere-TN/xashds_public_server-vps-_tutorial/raw/refs/heads/main/addons_for_xashds.zip && unzip addons_for_xashds.zip && rm addons_for_xashds.zip && cd && wget https://raw.githubusercontent.com/happyhere-TN/HLDS_CHOICE--private-/refs/heads/main/xashds.sh && clear && ls
            ;;
        2)
            hlds
            ;;
        3)
            exit
            ;;
esac
